.main-container {
  display: flex;
}

.photo {
  background-image: url("./media/background.jpg");
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  fill: white;
  width: 15rem;
}

.credits {
  font-size: 20px;
  position: relative;
  bottom: -80px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.credits a {
  color: aliceblue;
}
